<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Document Upload and Management</title>
    <link rel="stylesheet" type="text/css" href="/admin.css" />
  </head>
  <body>
    <header>
      <!-- To render success or error message -->
      <% if (message.length > 0) { %>
      <div class="flash-message"><%= message %></div>
      <% } %>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Edutech</span> Resource Centre</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <h1>Admin Document Upload</h1>
      <form
        action="/user/upload"
        method="post"
        id="uploadForm"
        class="upload-form"
        enctype="multipart/form-data"
      >
        <input type="file" id="fileInput" name="document" required />
        <button type="submit">Upload</button>
      </form>

      <h2>Uploaded Documents</h2>
      <div class="document-list-container">
        <% if (documents.length === 0) { %>
        <p class="no-documents">No documents available.</p>
        <% } else { %>
        <ul id="documentList" class="document-list">
          <% documents.forEach(document => { %>
          <li class="document-item">
            <span><%= document.name %></span>
            <a href="/user/download/<%= document._id %>">
              <button>Download</button>
            </a>
            <a class="delete-button" href="/user/delete/<%= document._id %>">
              <button>Delete</button>
            </a>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </div>
      <p>Click <a href="/">here</a> to go home</p>
    </div>
    <script src="/flashMessage.js"></script>
  </body>
</html>
