<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form action="/auth/register" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" class="form-control" id="email" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="form-group">
          <label for="roles">Register as:</label>
          <Select name="role" , id="roles">
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </Select>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>

        <div class="form-group">
          <p>Already have an account? <a href="/auth/login">Login</a></p>
          <p>click <a href="/">here</a> to go home</p>
        </div>
      </form>
    </div>
  </body>
</html>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="container mt-4">
   
    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: #1f2b33;
        background-image: radial-gradient(650px circle at 0% 0%,
            #2f4d5f)
          radial-gradient(1250px circle at 100% 100%,
            hsl(219, 44%, 49%) 15%,
            hsl(218, 41%, 38%) 35%,
            hsl(219, 48%, 26%) 75%,
            hsl(219, 50%, 10%) 80%,
            transparent 100%);
      }


  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#e8491d, #c53108) ;
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#e8491d, #ec876c);
        overflow: hidden;
      }
  
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Welcome to <br />
            <span style="color: hsl(218, 81%, 75%)">Edutech Resource Centre</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            To access our comprehensive educational resources, please register for an account. 
            Registration is quick and free, and it grants you access 
            to all our learning materials and tools. <br>
            Already registered? <a href="./login">Log in</a> using your credentials

          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form action="/auth/register" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  
                 <h1 class="mb-3 h3">Register</h1>
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                      <input type="text" name="name" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Full Name</label>
                    </div>
                  </div>
                </div>
                <!--username input-->
                <div class="form-outline mb-4">
                  <input type="text" name="username" id="form3Example3" class="form-control" />
                  <label for="username" class="form-label" for="form3Example3">username</label>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="form3Example3" class="form-control" />
                  <label for="email" class="form-label" for="form3Example3">Email address</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="form3Example4" class="form-control" />
                  <label for="password"  class="form-label" for="form3Example4">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <label for="roles">Register as:</label>
                  <Select name="role" , id="roles">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                  </Select>
                </div>

                <!-- register button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  register
                </button>
  
               
                <div class="text-center">
                  <p>Already have an account? <a href="/auth/login">Login</a></p>
                  <p>click    <a href="/">home</a> to go home</p>
                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
    </div>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>